* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-style: normal;
}

h2 {
  font-weight: 300;
}

.text-decor {
  font-weight: 700;
}

h2, .text-decor {
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}

#item-container {
  height: 320px; 
  display: flex; 
  align-items: center;
  background-color: white;
}

#card-description {
  height: 140px;
}

#product-component {
  margin-top: 60px;
}

@media screen and (max-width: 600px) {
  #item-container {
    height: auto;
  }
  #card-description {
    height: auto;
    font-size: 12px;
  }
  #product-component {
    margin-top: 50px;
  }  
}